<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Validation App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/validateXSD">XSD Validation</a>
                <a class="nav-link" href="/validateRNG">RNG Validation</a>
                <a class="nav-link" href="/auth/login">XML Api</a>
                <a class="nav-link" href="/soap">SOAP</a>
                <a class="nav-link" href="/dhmz">DHMZ</a>
            </div>
        </div>
    </div>
</nav>